<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <p *ngIf="!issueList"><em>Loading...</em></p>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search here...">
  </mat-form-field>

  <div class="mat-elevation-z8">
  <table class="table table-bordered" *ngIf="issueList">
    <thead>
      <tr>
        <th>Issue Id</th>
        <th>Description</th>
        <th>TimeStamp</th>
        <th>Classification</th>
        <th>Status</th>
        <th>Service Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let issue of issueList">
        <td width="5%">{{ issue.Id }}</td>
        <td width="40%">{{ issue.Description }}</td>
        <td width="15%">{{ issue.Time_Stamp }}</td>
        <td width="10%">{{ issue.Classification }}</td>
        <td width="15%">{{ issue.Status }}</td>
        <td width="15%">{{ issue.Service_Type }}</td>
        <td>
            <!--<a [routerLink]="['/issue/',issue.IssueId]"> Details </a>-->
            <a [routerLink]="['/support-list/']">Search Supporter</a>
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
